@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #FD5D14;
    --secondary: #FDBE33;
    --primary-light: #fff;
    --secondary-ligh: #F4F6F8;
    --dark: #040F28;
    --black: #333;
}


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'roboto', Arial, Helvetica, sans-serif;
    letter-spacing: .7px;
}

#countainer {
    width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.btn {
    background-color: var(--primary);
    color: var(--primary-light);
    border-radius: 3px;
    padding: .7rem 1rem;
}

.btn:hover {
    color: var(--black);
    border-bottom: var(--black) 5px solid;

}

.txt-light {
    color: var(--primary-light);
}

.txt-dark {
    color: #000
}

.txt-primary {
    color: #777
}

.txt-secondary {
    color: var(--primary);
}

.txt-lg {
    font-size: 30px;
    font-weight: bold;
}

.ma-primary {
    margin: 1rem 0;
}

.ma-secondary {
    margin: .5rem 0;
}

.w-80 {
    /* padding: .5rem; */
    width: 80%;
    margin: auto;
    text-align: center;
    display: block;
}

.bg-dark {
    background-color: var(--dark);
}

/* ------------------------------------------------------------------------------------------------ */
#navigation {
    width: 100%;
    background-color: var(--dark);
    border-bottom: var(--black) 5px solid;
}

.logo {
    display: none;
}

.menu-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.item {
    margin: 1rem;

}

.link {
    color: var(--primary-light);
}

.link:hover {
    color: var(--primary);
}

.bg-secondary-light {
    background-color: var(--secondary-ligh);
}

/* --------------------------------------------------------------------------------------------------- */

.showcase {
    height: 200px;
    width: 100%;
    position: relative;
    background: url(./image/Construction-bg.jpg) no-repeat center center/cover;
    z-index: 1;
    /* margin: 1rem 0 1rem 0; */
    padding: 1rem 0%;
}


.showcase-header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.showcase-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase-txt {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}

.showcase-btn {
    margin: 1rem 0;
}

/* ----------------------------------------------------------------------------------------- */

.row-1 {
    width: 100%;
    padding: 1rem;
}

.about-col {
    width: 80%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}


.btn-about {
    margin: 1rem auto;
}

.about-img {
    display: none;
}

/* ----------------------------------------------------------------------------------------------- */
#service {
    width: 100%;
}

.service-content {
    padding: 1rem;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem auto;
    background-color: var(--primary-light);
}

.box img {
    width: 250px;
    height: 150px;
}

.box .fa {
    position: relative;
    top: -30px;
    font-size: 40px;
    color: var(--primary);
    background-color: var(--secondary-ligh);
    border-radius: 50px;
    width: 70px;
    height: 70px;
    padding-top: 1rem;
}

.btn-box:hover {
    color: var(--black);
}


/* -------------------------------------------------------------------------------------------------- */
#contact {
    padding: 1rem;
    width: 100%;
}

.row-contact {
    width: 100%;
    /* margin: auto; */
    text-align: left;
}


/* .col-contact{} */
.form-control {
    width: 90%;
    margin: 1rem auto;
    text-align: left;
    padding: 1rem;
    font-size: 12px;
    border: 1px #ccc solid;
    border-radius: 3px;
}

/* ----------------------------------------------------------------------------------------------------- */
#testemonial {
    padding: 1rem;
    width: 100%;
    background-color: var(--secondary-ligh);
    display: grid;
    grid-template-columns: 1fr;
}

.box-user {
    width: 90%;
    border: 1px #ccc solid;
    background-color: var(--primary-light);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    font-size: 12px;
    display: grid;
    grid-template-rows: auto auto;
}

.user-info {
    width: 100px;
    position: relative;
    top: -55px;
    left: 80px;
}

.user-img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

/* --------------------------------------------------------------------------------------------------------------- */
.footer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    width: 100%;
    /* margin: 0 auto; */
    padding: 1rem;
}

.social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.btn-social {
    margin: 0 .5rem;
}

.newsletter-email {
    width: 100%;
    height: 40px;
    margin: 1rem 0;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 3px;
}

.newsletter-btn {
    display: block;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 3px;
}

.copyright {
    margin: 1rem 0;
    text-align: center;
}


/* tablet and laptop */
@media (min-width:550px) and (max-width:768px) {
    .txt-lg {
        font-size: 50px;
        line-height: 65px;
    }

    #navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        margin-left: 1rem;
        display: block;
        font-size: 16px;
        font-weight: bold;
    }

    .showcase {
        padding: 2rem 0px;
    }

    .box {
        width: 500px;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }

    .box img {
        width: 500px;
        height: 300px;
    }

}

@media (min-width:769px) {
    .txt-lg {
        font-size: 50px;
        line-height: 65px;
    }

    #navigation {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .logo {
        margin-left: 1rem;
        display: block;
        font-size: 25px;
        font-weight: bold;
    }

    .link {
        font-size: 26px;
    }

    .showcase {
        height: 450px;
    }

    .showcase-header {
        margin-top: 10rem;
    }

    .showcase-txt {
        font-size: 60px;
    }

    .showcase-btn {
        margin: 5rem auto;
        font-size: 30px;
    }

    .box {
        width: 600px;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        font-size: 20px;
    }

    .box img {
        width: 600px;
        height: 400px;
    }

    .service-catgory {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}